<h1>top page</h1>

<%= form_with url: "/posts", method: :post, id:"form" do |f| %>
<%= f.text_field :content %>
<%= f.submit "投稿する", id: "submit" %>
<%end%>


<%= link_to "新規投稿", "/posts/new" %>
<% @posts.each do |post| %> 
<div class="post">
  <div class="post-date">
    <%= post.content %>
  </div>
  <div class="post-content">
    <%= post.created_at %>
  </div>
</div>
<% end %>
 